// CSS classes naming conventions - BEM (https://en.bem.info/methodology):
// block-name
// block-name--block-modifier-name
// block-name__element-name
// block-name__element-name--element-modifier-name

// SCSS variables suffixes contain abbreviated CSS properties or their parts:
// -p - padding
// -m - margin
// -h - height
// -w - width
// -t - top
// -l - left
// -r - right
// -b - bottom
// -pt - padding-top
// -pl - padding-left
// -pr - padding-right
// -pb - padding-bottom
// -px - horizontal padding (-left & -right)
// -py - vertical padding (-top & -bottom)


video {
  max-width: 100%;
}

.btn {
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

$webchat-r: 20px;
$webchat-b: 20px;
$webchat-launch-btn-size: 64px;
$webchat-chat-btn-size: 50px;
// Distance between chat type buttons (video, voice or text) and chat launch button:
$webchat-chat-btn-shift: 40px;

$webchat-color-main: #00c48a;
$webchat-color-stop: #c41200;
$webchat-color-bluedark: #3b5d80;
$webchat-color-bluelight: #75baff;

.webchat {
  position: fixed;
  right: $webchat-r;
  bottom: $webchat-b;

  display: inline-block;
  width: 0;
  height: 0;

  .webchat__launch-btn {
    @extend .btn;
    position: absolute;
    right: 0;
    bottom: 0;

    width: $webchat-launch-btn-size;
    height: $webchat-launch-btn-size;
    background-color: $webchat-color-main;
  }
  .webchat__chat-btn {
    @extend .btn;
    position: absolute;
    right: 0;
    bottom: 0;

    width: $webchat-chat-btn-size;
    height: $webchat-chat-btn-size;
    display: none;  // initially hidden
    background-color: $webchat-color-main;
  }
  .webchat__chat-btn--showed {
    display: block; // displayed after click on 'launch-btn'
  }

  .webchat__chat-btn--video {
    right: $webchat-chat-btn-shift + $webchat-launch-btn-size;
    bottom: ($webchat-launch-btn-size - $webchat-chat-btn-size) * 0.5;
  }
  .webchat__chat-btn--voice {
    right: ($webchat-chat-btn-shift + $webchat-launch-btn-size) * 0.707;
    bottom: ($webchat-chat-btn-shift + $webchat-launch-btn-size) * 0.707;
  }
  .webchat__chat-btn--text {
    right: ($webchat-launch-btn-size - $webchat-chat-btn-size) * 0.5;
    bottom: $webchat-chat-btn-shift + $webchat-launch-btn-size;
  }
}

$modal-bg-transparency: 0.5;
$modal-inner-w: 400px;
//$modal-inner-h: 300px;

.modal {
  position: fixed;
  top: 0;           // covers whole screen
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, $modal-bg-transparency);

  .modal__inner {
    width: $modal-inner-w;
    max-width: 100%;      // shrink to window on narrow screens (< $modal-inner-w)

    .modal__copyright {
      color: white;
      text-align: center;
    }
  }
}

$chat-video-out-w: 20%;       // 20% of .chat width
$chat-panel-w: 90%;           // 90% of .chat width
$chat-panel-max-w: 300px;
$chat-panel-h: 50px;
$chat-panel-b: 20px;
$chat-btns-group-mx: $chat-panel-h * 0.25;
$chat-stop-btn-size: 64px;

.chat {
  position: relative;   /* for abs-positioned .chat__panel*/
  border-top: 10px solid $webchat-color-bluedark;
  height: 100%;

  .chat__info {
    .chat__status {
      padding: 40px 0;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;

      .chat__status-txt {
        color: #00cccc;
      }
    }
    .chat__tips-hdr {
      padding: 40px 0;
      background: red;
      color: white;
      text-align: center;
    }
    .chat__tips-body {
      padding: 40px 0;
      background: white;
      text-align: center;
    }
  }

  .chat__video-in {
    width: 100%;
    height: 100%;
    background: green  // debug
  }
  .chat__video-out {
    position: absolute;
    top: 10px;
    right: 10px;
    width: $chat-video-out-w;
    background: yellow  // debug
  }
  .chat__panel {
    position: absolute;
    bottom: $chat-panel-b;
    left: 50%;
    transform: translateX(-50%);

    width: $chat-panel-w;
    max-width: $chat-panel-max-w;
    height: $chat-panel-h;
    border-radius: $chat-panel-h * 0.5;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: white;

    .chat__btns-group { /* contains 1 or 2 buttons (.chat__btn-small) */
      // Needs to have any size value to not be shrinked when contains 1 button:
      flex: 1 1 0;
      margin: 0 $chat-btns-group-mx;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .chat__btn--small {
      @extend .btn;
      width: $chat-panel-h;
      height: $chat-panel-h;
      background-color: transparent;
    }
    .chat__btn--stop {
      @extend .btn;
      flex: 1 0 auto;
      width: $chat-stop-btn-size;
      height: $chat-stop-btn-size;
      background-color: $webchat-color-stop;
    }
  }
}

.icon {
  vertical-align: middle;
}
.icon--white {
  color: white;
}
.icon--color {
  color: $webchat-color-main;
}
.icon--lg {
  font-size: 30px;
}
.icon--md {
  font-size: 26px;
}
.icon--sm {
  font-size: 20px;
}
.icon--xs {
  font-size: 18px;
}

