// CSS classes naming conventions - BEM (https://en.bem.info/methodology):
// block-name
// block-name--block-modifier-name
// block-name__element-name
// block-name__element-name--element-modifier-name

// SCSS variables suffixes contain abbreviated CSS properties or their parts:
// -p - padding
// -m - margin
// -h - height
// -w - width
// -t - top
// -l - left
// -r - right
// -b - bottom
// -pt - padding-top
// -pl - padding-left
// -pr - padding-right
// -pb - padding-bottom
// -px - horizontal padding (-left & -right)
// -py - vertical padding (-top & -bottom)

// For using font-awesome icons as font symbols
@import url(font-awesome/css/font-awesome.css);

@font-face {
  font-family: 'Lucida Grande';
  src: url(fonts/LucidaGrandeRegular.ttf);
}
@font-face {
  font-family: 'Roboto Medium';
  src: url(fonts/RobotoMedium.ttf);
}
@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/RobotoRegular.ttf);
}

video {
  max-width: 100%;
}

.btn {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn--circle {
  @extend .btn;
  border-radius: 50%;
}

$webchat-r: 20px;
$webchat-b: 20px;
$webchat-launch-btn-size: 64px;
$webchat-chat-btn-size: 50px;
// Distance between chat type buttons (video, voice or text) and chat launch button:
$webchat-chat-btn-shift: 40px;

$webchat-color-main: #00c48a;
$webchat-color-stop: #c41200;
$webchat-color-bluedark: #3b5d80;
$webchat-color-bluelight: #75baff;

.webchat {
  position: fixed;
  right: $webchat-r;
  bottom: $webchat-b;

  display: inline-block;
  width: 0;
  height: 0;

  .webchat__launch-btn {
    @extend .btn--circle;
    position: absolute;
    right: 0;
    bottom: 0;

    width: $webchat-launch-btn-size;
    height: $webchat-launch-btn-size;
    background-color: $webchat-color-main;
  }
  .webchat__chat-btn {
    @extend .btn--circle;
    position: absolute;
    right: 0;
    bottom: 0;

    width: $webchat-chat-btn-size;
    height: $webchat-chat-btn-size;
    display: none;  // initially hidden
    background-color: $webchat-color-main;
  }
  .webchat__chat-btn--showed {
    display: block; // displayed after click on 'launch-btn'
  }

  .webchat__chat-btn--video {
    right: $webchat-chat-btn-shift + $webchat-launch-btn-size;
    bottom: ($webchat-launch-btn-size - $webchat-chat-btn-size) * 0.5;
  }
  .webchat__chat-btn--voice {
    right: ($webchat-chat-btn-shift + $webchat-launch-btn-size) * 0.707;
    bottom: ($webchat-chat-btn-shift + $webchat-launch-btn-size) * 0.707;
  }
  .webchat__chat-btn--text {
    right: ($webchat-launch-btn-size - $webchat-chat-btn-size) * 0.5;
    bottom: $webchat-chat-btn-shift + $webchat-launch-btn-size;
  }
}

$modal-bg-transparency: 0.5;
$modal-inner-w: 400px;
//$modal-inner-h: 300px;

.modal {
  position: fixed;
  top: 0;           // covers whole screen
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, $modal-bg-transparency);

  .modal__inner {
    //width: $modal-inner-w;
    max-width: 90%;      // shrink to window on narrow screens (< $modal-inner-w)

  }
}

$copyright-padding: 4px;

$copyright-font-family: 'Roboto Regular', sans-serif;
$copyright-font-size: 12px;
$copyright-font-color: white;

$copyright-inner-w: 2px;
$copyright-inner-color: #b33b29;
$copyright-circle1-w: 2px;
$copyright-circle1-color: white;
$copyright-circle2-w: 3px;
$copyright-circle2-color: #b33b29;
$copyright-mr: 4px;

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $copyright-padding;

  .copyright__text {
    display: inline-block;

    font-family: $copyright-font-family;
    font-size: $copyright-font-size;
    color: $copyright-font-color;
  }
  .copyright__sign {
    display: block;
    margin: $copyright-circle2-w ($copyright-circle2-w + $copyright-mr) 0 0;

    width: $copyright-inner-w;
    height: $copyright-inner-w;
    background-color: $copyright-inner-color;

    border: $copyright-circle1-w solid $copyright-circle1-color;
    border-radius: 50%;

    box-shadow: 0 0 0 $copyright-circle2-w $copyright-circle2-color;
  }
}

$chat-video-out-w: 20%;       // 20% of .chat width
$chat-panel-w: 90%;           // 90% of .chat width
$chat-panel-max-w: 300px;
$chat-panel-h: 50px;
$chat-panel-b: 26px;
$chat-btns-group-mx: $chat-panel-h * 0.25;
$chat-stop-btn-size: 64px;

$chat-info-mb: $chat-panel-b + $chat-panel-h + 24px;

$chat-circle-inner-w: 2px;
$chat-circle-inner-color: $webchat-color-main;
$chat-circle-circle1-w: 2px;
$chat-circle-circle1-color: white;
$chat-circle-circle2-w: 3px;
$chat-circle-circle2-color: $webchat-color-main;

.chat {
  position: relative;   /* for abs-positioned .chat__panel*/
  height: 100%;

  .chat__info {
    margin-bottom: $chat-info-mb;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: white;

    &.chat__info--bordered {
      border-top: 10px solid $webchat-color-bluedark;
    }

    &.chat__info--short {
      margin-bottom: 0;
    }

    .chat__status {
      padding: 6px 0 12px;
      font-family: 'Roboto Medium', sans-serif;
      font-size: 17px;
      color: $webchat-color-main;

      &.chat__status--high {
        padding-top: 40px;
        padding-bottom: 22px;
      }

      &.chat__status--success {
        width: 100%;
        text-align: center;
        background-color: $webchat-color-main;
        color: white;
        padding: 57px 0;
      }

      &.chat__status--fail {
        width: 100%;
        text-align: center;
        background-color: $webchat-color-stop;
        color: white;
        padding: 21px 0 30px;
      }

      .chat__phone-input-wrapper {
        .chat__phone-input {
          padding: 9px 10px 11px;
          outline: none;
          border: none;
          font-family: 'Roboto Regular', sans-serif;
          font-size: 12px;
        }
        .chat__phone-input-btn {
          @extend .btn;
          background: $webchat-color-bluedark;
          width: 37px;
          height: 37px;
          color: white;
        }
      }

      .chat__status-txt-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .chat__status-hdr {
        margin-bottom: 15px;
        font-family: 'Roboto Medium', sans-serif;
        font-size: 18px;
      }
      .chat__status-txt {
        margin-bottom: 15px;
        font-family: 'Roboto Regular', sans-serif;
        font-size: 16px;
      }

      .chat__timer-wrapper {
        width: 100%;
        text-align: center;
      }
    }
    .chat__logo {
      margin-top: 10px;
    }
    .chat__tips {
      width: 400px;
      height: 100px;

      font-family: 'Roboto Regular', sans-serif;
      font-size: 16px;
      color: black;
      padding: 78px 0;
      text-align: center;
    }

  }

  .chat__circles {
    display: inline-block;

    .chat__circle {
      display: inline-block;

      margin: 0 $chat-circle-circle2-w + 1px;

      width: $chat-circle-inner-w;
      height: $chat-circle-inner-w;
      background-color: $chat-circle-inner-color;

      border: $chat-circle-circle1-w solid $chat-circle-circle1-color;
      border-radius: 50%;

      box-shadow: 0 0 0 $chat-circle-circle2-w $chat-circle-circle2-color;

      &:nth-of-type(2) {
        margin-bottom: 5px;
        opacity: 0.9;
      }
      &:nth-of-type(3) {
        margin-bottom: 9px;
        opacity: 0.8;
      }
      &:nth-of-type(4) {
        margin-bottom: 11px;
        opacity: 0.7;
      }
      &:nth-of-type(5) {
        margin-bottom: 8px;
        opacity: 0.6;
      }
    }
  }

  .chat__video-container {
    display: block;
    position: relative;

    &.chat__video-container--hidden {
      display: none;
    }
    .chat__video-in {
      width: 100%;
      height: 100%;
    }
    .chat__video-out {
      position: absolute;
      top: 10px;
      right: 10px;
      width: $chat-video-out-w;
    }
  }

  .chat__msg-container {

    .chat__msg {
      border-radius: 26px;
      color: white;
      font-family: 'Lucida Grande', sans-serif;
    }
    .chat__msg--in {
      background-color: $webchat-color-bluedark;
      border-bottom-right-radius: 0;
    }
    .chat__msg--out {
      background-color: $webchat-color-bluelight;
      border-bottom-left-radius: 0;
    }
  }
}

$feedback-w: 300px;
$feedback-p: 50px 0 42px;
$feedback-border-color: #e6e6e6;

$feedback-hdr-font: 'Roboto Regular', sans-serif;
$feedback-hdr-font-size: 16px;

$feedback-review-w: 60%;
$feedback-review-border-radius: 100px;
$feedback-review-border-color: #979797;
$feedback-review-font: 'Roboto Regular', sans-serif;
$feedback-review-font-size: 16px;
$feedback-review-p: 7px 0 10px;

.feedback {
  width: $feedback-w;
  padding: $feedback-p;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: solid 1px $feedback-border-color;
  text-align: center;

  .feedback__hdr {
    margin-bottom: 10px;
    font-family: $feedback-hdr-font;
    font-size: $feedback-hdr-font-size;
  }

  .feedback__review {
    margin-top: 14px;
    width: $feedback-review-w;
    padding: $feedback-review-p;
    outline: none;
    border: solid 1px $feedback-review-border-color;
    border-radius: $feedback-review-border-radius;
    text-align: center;
    font-family: $feedback-review-font;
    font-size: $feedback-review-font-size;
  }
}

$rating-color: #ffba00;
$rating-star-size: 10px;
$rating-star-spacing: 7px;

.rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  border: none;
  font-size: $rating-star-size;

  input {
    display: none;              // hide actual radio inputs
  }
  label {
    color: $rating-color;
    float: right;

    &:before {
      display: block;
      font-family: FontAwesome;
    }
    &:not(:last-of-type):before {
      margin-right: $rating-star-spacing;
    }
  }

  .rating__half-star:before {   // left half-star
    content: "\f089";           // fa-star-half
    position: absolute;
    opacity: 0;
  }

  input:checked + .rating__half-star:before,      // left half-star is visible when checked
  &.hoverable .rating__half-star:hover:before {   // left half-star is visible when hovered
    opacity: 1;
  }

  .rating__full-star:before {   // empty star
    content: "\f006";           // fa-star-o
  }

  &.hoverable .rating__full-star:hover:before,          // fill empty star when it's hovered
  input:checked ~ .rating__full-star:before,            // fill checked empty star and all empty stars left to it
  &.hoverable label:hover ~ .rating__full-star:before { // Fill all stars preceding to hovered one
    content: "\f005";           // fa-star
  }
}

$subscribe-padding: 60px 0 75px;
$subscribe-font: 'Roboto Regular', sans-serif;
$subscribe-font-size: 16px;
$subscribe-font-color: $webchat-color-main;

.subscribe {
  padding: $subscribe-padding;
  font-family: $subscribe-font;
  font-size: $subscribe-font-size;
  color: $subscribe-font-color;
  text-align: center;
}

$similar-w: 320px;
$similar-hdr-p: 15px 0;
$similar-hdr-font: 'Roboto Regular', sans-serif;
$similar-hdr-font-size: 16px;
$similar-item-spacer: 15px;
$similar-logo-size: 89px;
$similar-info-p: 8px 11px 10px;
$similar-border-c: #e6e6e6;
$similar-name-font: 'Roboto Medium', sans-serif;
$similar-name-font-size: 16px;
$similar-desc-font: 'Lucida Grande', sans-serif;
$similar-desc-font-size: 10px;
$similar-call-size: $similar-logo-size - 1px;
$similar-call-btn-size: 45px;
$similar-call-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

.similar {
  width: $similar-w;

  .similar__hdr {
    padding: $similar-hdr-p;
    font-family: $similar-hdr-font;
    font-size: $similar-hdr-font-size;
    text-align: center;
  }
  .similar__item {
    width: 100%;
    display: flex;

    &:not(:last-of-type) {  // space between consequent items
      margin-bottom: $similar-item-spacer;
    }

    .similar__logo {
      flex: 0 0 auto;
      width: $similar-logo-size;
      height: $similar-logo-size;
    }
    .similar__info {
      flex: 1 1 auto;
      padding: $similar-info-p;
      border-top: solid 1px $similar-border-c;
      border-bottom: solid 1px $similar-border-c;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .similar__name {
        font-family: $similar-name-font;
        font-size: $similar-name-font-size;
      }
      .similar__desc{
        font-family: $similar-desc-font;
        font-size: $similar-desc-font-size;
      }
    }
    .similar__call {
      flex: 0 0 auto;
      border-top: solid 1px $similar-border-c;
      border-bottom: solid 1px $similar-border-c;
      width: $similar-call-size;
      height: $similar-call-size;
      display: flex;
      justify-content: center;
      align-items: center;

      .similar__call-btn {
        @extend .btn--circle;
        width: $similar-call-btn-size;
        height: $similar-call-btn-size;
        box-shadow: $similar-call-shadow;
        background: $webchat-color-main;
      }
    }
  }
}

$chat-btns-group-mx: 3%;
$temp1: 100% - $chat-btns-group-mx*4;

.chat__panel {
  position: absolute;
  bottom: $chat-panel-b;
  left: 50%;
  transform: translateX(-50%);

  width: $chat-panel-w;
  max-width: $chat-panel-max-w;
  height: $chat-panel-h;
  border-radius: $chat-panel-h * 0.5;
  background: white;

  .chat__btns-group {
    width: calc( ( calc(100% - #{$chat-btns-group-mx*4}) - #{$chat-stop-btn-size} ) /2);

    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }
  .chat__btns-group:first-of-type {
    margin-left: $chat-btns-group-mx;
    margin-right: calc(#{$chat-stop-btn-size/2} + #{$chat-btns-group-mx});
  }
  .chat__btns-group:not(:first-of-type) {
    margin-left: calc(#{$chat-stop-btn-size/2} + #{$chat-btns-group-mx});
    margin-right: $chat-btns-group-mx;
  }

  .chat__btn--small {
    @extend .btn--circle;
    width: $chat-panel-h;
    height: $chat-panel-h;
    background-color: transparent;
  }
  .chat__btn--stop {
    position: absolute;
    top: ($chat-panel-h - $chat-stop-btn-size)/2;
    left: 50%;
    transform: translateX(-50%);

    @extend .btn--circle;
    width: $chat-stop-btn-size;
    height: $chat-stop-btn-size;
    background-color: $webchat-color-stop;
  }
}

$back-btn-m: 15px auto 5px;
$back-btn-font-family: 'Roboto Medium', sans-serif;
$back-btn-font-size: 14px;
$back-btn-font-color: white;
$back-btn-bg-color: $webchat-color-bluedark;
$back-btn-p: 7px 70px;
$back-btn-border-radius: 100px;

.back-btn {
  @extend .btn;

  display: block;
  margin: $back-btn-m;
  padding: $back-btn-p;
  background: $back-btn-bg-color;
  border-radius: $back-btn-border-radius;

  font-family: $back-btn-font-family;
  font-size: $back-btn-font-size;
  color: $back-btn-font-color;
}

.icon {
  vertical-align: middle;

  &.icon--white {
    color: white;
  }
  &.icon--red {
    color: $webchat-color-stop;
  }
  &.icon--color {
    color: $webchat-color-main;
  }
  &.icon--color-scnd {
    color: #f8e71c;
  }
  &.icon--lg {
    font-size: 30px;
  }
  &.icon--md {
    font-size: 26px;
  }
  &.icon--sm {
    font-size: 20px;
  }
  &.icon--xs {
    font-size: 18px;
  }
  &.icon--crossed {
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 7px;
      right: -4px;
      width: 1.4em;
      height: 2px;
      background: $webchat-color-main;
      border-top: 2px solid white;
      transform: rotate(-45deg);
    }
  }
  &.icon--lowered {
    margin-bottom: -3px;
  }
  &.icon--shifted {
    margin-right: 5px;
  }
  &.icon--circled {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background: $webchat-color-stop;
    border-radius: 50%;
    font-size: 0.7em;
    padding: 2px;
    &:before {
      vertical-align: middle;
    }
  }
}

.timer {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 10px;
  color: $webchat-color-main;
}
